<template>
  <div>
    <h4 class="t-logged-in">
      Welcome {{user.nickname}}!
    </h4>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'home',
    computed: {
      ...mapGetters(['user'])
    }
  }
</script>

<style>
  a {
    cursor: pointer;
  }
</style>
