<template>
  <div>
    <h4 class="t-logged-out">
      Oh no! You are not logged in! Please <a @click="auth.login()">Log In</a> to continue.
    </h4>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'home',
    computed: {
      ...mapGetters(['user'])
    }
  }
</script>

<style>
  a {
    cursor: pointer;
  }
</style>
